* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
}

.divpink {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: #e67cb5;
    margin-right: 100px;
    border-radius: 100px;
    transition: transform 3s ease-in;
}

.divblue {
    height: 50px;
    width: 50px;
    background-color: #3c93b6;
    border-radius: 100px;
    margin-top: 25px;
    transition: transform 3s ease-in;
    transition-delay: 0.5s;
}

section:active .divpink{
    left: 110px;
    transition: left 0.5s ease-in;
}

section:active .divblue{
    left: 90%;
    transition: left 0.5s ease-in;
}

